<a href="https://colab.research.google.com/github/monicaqroz/livro_py/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
s = pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-1-a63f03fcd309>:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [2]:
import pandas as pd
import numpy as np
data = np.array(["a","b","c","d"])
s=pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [3]:
import pandas as pd 
import numpy as np 
data = np.array(["a","b", "c","d"])
s = pd.Series(data, index=[100,101,102,103])
#array com rotulos index
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [4]:
import pandas as pd 
import numpy as np
data = {"a":0., "b":1., "c":2.}
#dicionario
s = pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [5]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
import pandas as pd 
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
import pandas as pd
data = [["jose", 10],["pedro", 12],["paulo", 13]]
df = pd.DataFrame(data, columns=["NOME","IDADE"])
print(df)

    NOME  IDADE
0   jose     10
1  pedro     12
2  paulo     13

In [12]:
#criar objetos 
import pandas as pd 
import numpy as np
data = np.array([1,3,5,np.nan,6,8])
s = pd.Series(data)
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [15]:
import pandas as pd 
import numpy as np
dates = pd.date_range("20130101,", periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
print(df)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01  0.526198  0.220285 -0.247878  1.181667
2013-01-02  0.853671 -0.024219 -0.674304 -1.842388
2013-01-03 -0.390135 -0.012548 -0.705451  0.011638
2013-01-04  0.201805  0.223012 -0.755564  0.772546
2013-01-05  0.001670 -0.034209 -0.434233 -0.950651
2013-01-06  2.862541  1.323963 -0.250832  1.625440

In [17]:
import pandas as pd 
import numpy as np 
df2 = pd.DataFrame({"A" : 1.,
                    "B" : pd.Timestamp("20130102"),
                    "C" : pd.Series(1,index=list(range(4)),dtype="float32"),
                    "D" : np.array([3]*4, dtype="int32"),
                    "E" : pd.Categorical(["TEST", "TRAIN", "TEST", "TRAIN"]),
                    "F" : "foo"})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   TEST  foo
1  1.0 2013-01-02  1.0  3  TRAIN  foo
2  1.0 2013-01-02  1.0  3   TEST  foo
3  1.0 2013-01-02  1.0  3  TRAIN  foo

In [10]:
import pandas as pd 
s = pd.Series([3,-5,7,4], index=["a","b","c","d"])
s
s["b"]

-5

In [23]:
import pandas as pd 
data = {"País": ["Belgica","India","Brasil"],
        "Capital": ["Bruxelas", "Nova Delhi", "Brasilia"],
        "População": [100,200,300]}
df = pd.DataFrame(data, columns = ["País", "Capital", "População"])
df

#help(pd.Series.loc)

df[2:]

df.iloc[[0],[0]]
#erro df.iat([0],[0])

df.loc[[0],["País"]]
#erro df.at([0],["País"])

AttributeError: ignored

In [ ]:
#read
#pd.read_csv("file.csv", header=None, nrows=5)
#df.to_csv("myDataFrame.scv")

#pd.read_excel("file.xlsx")
#sd.to_excel("dir/myDataFrame.xlsx", sheet_name="Sheet1")

#from sqlalquemy import create_engine
#engine = create_engine("sqlite:///:memory:")
#pd.read_sql("SELECT 8 FROM my_table;", engine)
#pd.read_sql_table("my_table", engine)
#pd.read_sql_query("SELECT * FROM my_table;", engine)
#read_sql() is a convenience wrapper around read_sql_table() and read_sql_query()
#df.to_sql("myDF", engine)